<ion-nav-bar class="bar-positive text-center hide-on-keyboard-open">
  <ion-nav-back-button class="button-clear">
    <i class="button button-icon icon ion-arrow-left-c"></i>
  </ion-nav-back-button>
</ion-nav-bar>

<ion-nav-view name="page"></ion-nav-view>

<div class="tabs tabs-stripped tabs-positive tabs-icon-top hide-on-keyboard-open">

  <a class="tab-item" ui-sref="app.home">
    <i class="icon ion-home"></i>
    Начало
  </a>

  <a class="tab-item" ui-sref="app.stops">
    <i class="icon ion-flag"></i>
    Спирки
  </a>

<!--  <a class="tab-item" ui-sref="app.scanner">
    <i class="icon ion-qr-scanner"></i>
    Сканирай
  </a>-->

  <a class="tab-item" ui-sref="app.map">
    <i class="icon ion-map"></i>
    Карта
  </a>

  <a class="tab-item" ui-sref="app.settings">
    <i class="icon ion-android-settings"></i>
    Настройки
  </a>

</div>