<ion-view title="Карта" cache-view="true">
  <ion-content style="padding-bottom: 40px;">
    <div>
      <map data-tap-disabled="true" style="height: 300px;" zoom="15" center="[43.2056, 27.91045]" min-zoom="8">
        <marker ng-repeat="stop in filtered = ( stops | filter : search )"
          on-click="selectMapStop(stop)"
          position="[{{ stop.position.lat }}, {{ stop.position.lon }}]"
          visible="true"
          icon="img/icons/busstop.png">
        </marker>
        <marker ng-show="showPosition"
        position="[{{ userCoords.lat }}, {{ userCoords.lng }}]"
        visible="true"
        icon="img/icons/male.png">
      </marker>
      </map>
    </div>

    <div class="list no-margin">
      <div class="item item-input">
        <input ng-keyup="updateMap(filtered[0])" type="text" ng-model="search" placeholder="Търси спирка">
      </div>
      <div ng-hide="search" class="item" ng-click="findMe()">
        Намери ме
      </div>
    </div>
    <div class="list" ng-if="search">
        <ion-item
          style="width:100%;"
          collection-repeat="stop in filtered"
          collection-item-width="'100%'"
          collection-item-height="'53'"
          ui-sref="stop({stopId: stop.id, stopName: stop.text})">
          {{stop.text}}
        </ion-item>
      </div>
    </div>

  </ion-content>
</ion-view>
