<ion-view title="Настройки" cache-view="false">
  <ion-content class="padding">

    <div class="card">
      <div class="item item-divider text-center">
        Общи настройки
      </div>
      <ion-toggle ng-model="settings.showSavedStops" toggle-class="toggle-positives">Любими спирки</ion-toggle>
      <ion-toggle ng-model="settings.showNearStops" toggle-class="toggle-positives">Спирки наблизо</ion-toggle>
      <div class="item range range-positive">
        Обновяване през
        1s
        <input type="range" name="volume" min="1000" max="5000" ng-model="settings.updateFrequency">
        5s
      </div>
    </div>

    <div class="card">
      <div class="item item-divider text-center">
        Други
      </div>
      <a class="item" ng-click="openTutorial()">Как да ...?</a>
      <a class="item" ng-click="openCredits()">За създателя</a>
    </div>

    <form ng-submit="sendBug()">
      <div class="card">
        <div class="item item-divider text-center">
          Съобщи за бъг
        </div>
        <label class="item item-input">
          <input type="text" ng-model="bug.email" placeholder="Email">
        </label>
        <label class="item item-input">
          <input type="text" ng-model="bug.title" placeholder="Заглавие">
        </label>
        <label class="item item-input">
          <textarea rows="8" ng-model="bug.content" placeholder="Описаниe"></textarea>
        </label>
       <a ng-click="sendBug()" class="item text-center positive">Изпрати</a>
      </div>
    </form>




  </ion-content>
</ion-view>
