<ion-view title="{{stop.text}}" cache-view="false" class="no-padding">
  <ion-nav-buttons side="right">
    <button ng-click="saveStop()" ng-hide="stop.saved" ng-click="" class="button button-clear "><i class="icon ion-android-star-outline"></i></button>
    <button ng-click="deleteStop()" ng-show="stop.saved" ng-click="" class="button button-clear "><i class="icon ion-android-star"></i></button>
  </ion-nav-buttons>
  <ion-content has-bouncing="true" class="has-header has-footer">
  <div ui-view="stopContent" style="padding-top: 50px; padding-bottom: 10px;">

  </div>
  </ion-content>
  <div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
    <div class="tabs tabs-icon-left">
      <a
        class="tab-item"
        ng-class="view === 'livedata' ? 'active' : ''"
        ui-sref="stop.livedata({stopId: stop.id, stopName: stop.text})"
        ui-sref-opts="{reload: true}">
        <i class="icon ion-clock"></i>
        Идващи автобуси
      </a>
      <a
        class="tab-item"
        ng-class="view === 'timetable' ? 'active' : ''"
        ui-sref="stop.timetable({stopId: stop.id, stopName: stop.text})"
        ui-sref-opts="{reload: true}">
        <i class="icon ion-document-text"></i>
        Разписание
      </a>
    </div>
  </div>
</ion-view>
