<ion-modal-view>
    <ion-content ng-controller="TutorialCtrl">
      <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index)">
        <ion-slide ng-repeat="page in pages" class="padding">
          <img ng-if="page.img" style="height: 350px; width: auto; display: block; margin: 0 auto;" ng-src="{{page.img}}">
          <div class="card">
            <div ng-show="page.heading" class="item text-center">
              {{page.heading}}
            </div>
            <div class="item item-text-wrap">
              {{page.text}}
            </div>
            <div ng-show="$first" class="item item-text-wrap">
              Плъзнете надясно.
            </div>
          </div>
        </ion-slide>
      </ion-slide-box>
      <button class="button button-full button-positive" ng-click="closeTutorial()">Затвори</button>
    </ion-content>
  </ion-modal-view>
