<ion-modal-view>
  <ion-header-bar>
    <button class="button button-icon icon ion-arrow-left-c" ng-click="closeTimetable()"></button>
    <h1 class="title">Разписание за №{{timetable.bus}}</h1>
  </ion-header-bar>
  <ion-content padding="true">
    <map data-tap-disabled="true" style="height: 300px;" zoom="15" center="[43.2056, 27.91045]" min-zoom="8">
      <marker ng-repeat="stop in filtered = ( stops | filter : search )"
        on-click="selectMapStop(stop)"
        position="[{{ stop.position.lat }}, {{ stop.position.lon }}]"
        visible="true"
        icon="img/icons/busstop.png">
      </marker>
      <marker ng-show="showPosition"
      position="[{{ userCoords.lat }}, {{ userCoords.lng }}]"
      visible="true"
      icon="img/icons/male.png">
    </marker>
    </map>
</ion-modal-view>
