<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">За създателя</h1>
    </ion-header-bar>
    <ion-content class="padding">
      <div class="card">
        <div class="item item-text-wrap">
          <p>
            Здравейте, <br>
            Аз съм <b>Димитър Мирчев</b>. Ученик съм в <b>МГ "Д-р Петър Берон"</b>
            гр. Варна. Занимавам се с програмирание от около 5 години,
            а през последната година се интересувам от предприемачество.
            От програмирането на различни малки програмки се насочих към
            създаването на софтуерни решения, едно от които е <b>Varna Bus</b>.
          </p>
          <p>
            <b>Varna Bus</b> е хибридно приложение, което комуникира със сайта
            varnatraffic.com, откъдето взима информацията за градския транспорт.
            Освен да предостави тази информация по интерактивен начин, под формата
            на приложение, <b>Varna Bus</b> всъщност предлага допълнителни функции, които
            правят използването на градския транспорт по-лесно, удобно, дори и безопасно.
          </p>
          <p>
            Надявам се приложението да Ви хареса. Може да се свържете с мен на email:
            <b>dimitar.mirchev96@gmail.com</b>. Там може да изпращате Вашите запитвания
            и препоръки.
          </p>
          <p>
            Благодаря Ви, че използвате Varna Bus!
          </p>

        </div>
      </div>
      <button class="button button-full button-positive" ng-click="closeCredits()">Затвори</button>
    </ion-content>
  </ion-modal-view>
